@charset 'UTF-8';
body,
html
{
    min-height: 100%;
}

body
{
    padding-top: 2em; 

    background-color: #0d0d0d;
}

.main-content
{
    color: #33f; 
    background-color: rgba(0, 0, 155, .3);
}

.footer
{
    opacity: .7,inherit;
    color: #ccc;
}

.main-content
{
    min-height: 90%;
}

.footer
{
    min-height: 10%;
}
.footer a,
.footer a:hover
{
    text-decoration: none;
}

.tribute-heading
{
    text-align: center;
}

.tribute-image-box
{
    padding: 10px; 

    text-align: center;

    background-color: white;
}
.tribute-image-box img
{
    width: 100%;
    height: auto;
}
.tribute-image-box figcaption
{
    margin-top: 5px;
}

.tribute-quote blockquote
{
    margin-top: 25px;

    quotes: '“' '”' '‘' '’';
}

nav.navbar
{
    background-color: gray;
}
nav.navbar a
{
    color: #ccc;
}
nav.navbar li.active,
nav.navbar li a:hover,
nav.navbar li a:active,
nav.navbar li a:focus,
nav.navbar li.open a:focus
{
    background-color: #a6a6a6;
}
nav.navbar li ul
{
    background-color: gray;
}
